
@keyframes rotationArrowRight {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-120deg);
        scale: 1.5;
    }
}

@keyframes rotationArrowLeftToBottom {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(40deg);
        scale: 1.5;
    }
}

@keyframes rotationArrowRightToBottom {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(320deg);
        scale: 1.5;
    }
}

@keyframes rotationArrowLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(120deg);
        scale: 1.5;
    }
}

@keyframes slideTextFromLeftToRight {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes textFadeOutRightToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-200px);
        opacity: 0;
    }
}

@keyframes slideTextFromRightToLeft {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes textFadeOutLeftToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(200px);
        opacity: 0;
    }
}

@keyframes slideTextFromTopToBottom {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes textFadeFromBottomToLeft {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateX(-200px);
        opacity: 0;
    }
}
