<nav class="section">
    <h3>[V.W]</h3>
    <img src="../../assets/icons/burger_menu/burger.svg" alt="Menu">
</nav>
<div class="header-container section d-flex just-center">
    <div data-aos="zoom-in" data-aos-delay="200" class="header">
        <h1>Frontend Developer</h1>
        <div class="d-flex just-evenly align-center">
            <div class="line"></div>
            <span class="name">Vanessa Würdinger</span>
        </div>
    </div>
    <div data-aos="zoom-in" data-aos-delay="200" class="button-only-mobile">
        <button><a href="#contact">Send a message</a></button>
    </div>
    <div class="header-contact">
        <span class="contact-only-desktop">vanessa.wuerdinger@gmx.de</span>
        <div class="arrow-container">
            <span class="arrow"></span>
            <span class="d-flex just-center align-center">Scroll <br> down</span>
        </div>
    </div>
</div>