// $speed: 1.5s;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFCF3;
    z-index: 1;
    top: 0;
    height: 10vh;

    img {
        width: 35px;
        cursor: pointer;

        @media (max-width: 400px) {
            width: 30px;
        }
    }
}

.header-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    h1 {
        font-size: clamp(40px, 8vw, 128px);
        font-weight: 800;
        text-align: center;
        margin-top: 204px;
        margin-bottom: 10px;
        letter-spacing: -0.025em;
        line-height: 100%;
    }

    .line {
        width: 40%;
        margin-left: 10%;
        height: 0%;
        border-bottom: 4px solid #000000;

        @media (max-width: 1300px) {
            width: 35%;
        }

        @media (max-width: 1150px) {
            width: 27%;
        }

        @media (max-width: 750px) {
            margin-left: 14%;
            width: 20%;
        }

        @media (max-width: 450px) {
            margin-left: 10%;
            width: 15%;
        }

        @media (max-width: 375px) {
            margin-left: 5%;
            width: 20%;
        }
    }

    span {
        font-weight: 700;
        font-size: clamp(23px, 4vw, 40px);
        line-height: 100%;
        margin-right: 10%;
        letter-spacing: -0.025em;
        color: #FF9900;

        @media (max-width: 750px) {
            margin-right: 14%;
        }

        @media (max-width: 450px) {
            margin-right: 7%;
        }
    }
}

// .header-contact {
//     position: relative;
//     font-weight: 300;
//     font-size: 23px;
//     line-height: 100%;

//     span:first-child {
//         transform: translateX(-46%) rotate(-90deg);
//         top: 190px;
//         position: absolute;

//         @media (min-width: 1500px) {
//             top: 150px;
//         }
//     }

//     span:nth-child(2) {
//         position: absolute;
//         top: 310px;
//         right: 0;
//         width: 60px;
//         text-align: center;

//         // @media (min-width: 1500px) {
//         //     top: 265px;
//         // }
//     }

//     .arrow {
//         transform: rotate(180deg);
//         position: absolute;
//         top: 185px;
//         right: 0;
//         margin-top: -30px;
//         display: inline-block;
//         height: 100px;
//         line-height: 50px;
//         overflow: hidden;
//         width: 60px;

//         // Line 
//         &:before {
//             position: absolute;
//             display: inline-block;
//             content: "";
//             background: black;
//             width: 2px;
//             height: 40px;
//             top: 50%;
//             left: 50%;
//             margin-top: -8px;
//             margin-left: -3px;
//             transform: translateY(100px);
//             animation: lineUp $speed cubic-bezier(0.28, 0.34, 0.53, 1.11) infinite .5s;
//         }

//         // Arrow point
//         &:after {
//             position: absolute;
//             display: inline-block;
//             content: "";
//             width: 20px;
//             height: 20px;
//             color: black;
//             border-top: 2px solid;
//             border-left: 2px solid;
//             top: 50%;
//             left: 50%;
//             margin-top: -6px;
//             margin-left: -13px;
//             animation: tipUp $speed cubic-bezier(0.28, 0.34, 0.53, 1.11) infinite .5s;
//         }
//     }
// }




// @keyframes tipUp {
//     0% {
//         transform: translateY(100px) rotateZ(45deg);
//     }

//     100% {
//         transform: translateY(-90px) rotateZ(45deg);
//     }
// }

// @keyframes lineUp {
//     0% {
//         transform: translateY(100px);
//     }

//     100% {
//         transform: translateY(-90px);
//     }
// }