<nav class="section">
    <h3>[V.W]</h3>
    <img src="../../assets/icons/burger_menu/burger.svg" alt="Menu">
</nav>
<div class="header-container section d-flex just-center">
    <div class="header">
        <h1>Frontend Developer</h1>
        <!-- <div class="header-line"></div> -->
    </div>

</div>
<div class="section">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt aliquid autem suscipit error mollitia rerum, corrupti temporibus obcaecati molestiae ex tempora, odit soluta, eius placeat dignissimos excepturi dolore nulla enim.
</div>

<div id="header">
    <h3>Last Projects</h3>
 </div>