<!-- Desktop -->
<div class="footer-wrapper">
   <div class="section onlyDesktop">
      <h3 style="padding-top: 30px" >[V.W]</h3>
      <div class="d-flex align-center just-between">
         <span>
            © Vanessa Würdinger 2023
         </span>
         <div class="d-flex gap-42 align-baseline">
            <a href="https://github.com/va104" target="_blank"><img src="../../assets/icons/footer/github.svg"
                  alt="GitHub"></a>
            <a href="mailto:mail@vanessa-wuerdinger.de" target="_blank"><img src="../../assets/icons/footer/email.svg"
                  alt="Email"></a>
            <a href="https://www.linkedin.com/in/vanessa-wuerdinger" target="_blank"><img
                  src="../../assets/icons/footer/linkedin.svg" alt="Linkedin"></a>
         </div>
      </div>
      <div class="d-flex just-end">
         <p class="underline-animation" routerLink="legal-notice" (click)="scrollTo('legal')">Legal notice</p>
      </div>
   </div>
</div>

<!-- Mobile -->
<div class="section onlyMobile d-flex d-column align-center">
   <div style="padding-top: 60px" class="d-flex gap-42 align-baseline">
      <a href="https://github.com/va104" target="_blank"><img src="../../assets/icons/footer/github.svg"
            alt="GitHub"></a>
      <a href="mailto:mail@vanessa-wuerdinger.de" target="_blank"><img src="../../assets/icons/footer/email.svg"
            alt="Email"></a>
      <a href="https://www.linkedin.com/in/vanessa-wuerdinger" target="_blank"><img
            src="../../assets/icons/footer/linkedin.svg" alt="Linkedin"></a>
   </div>
   <h3>[V.W]</h3>
   <span>
      © Vanessa Würdinger 2023
   </span>
   <p class="underline-animation" routerLink="legal-notice" (click)="scrollTo('legal')">{{ 'legal' | translate }}</p>
</div>