.section {
    background-color: var(--color-black);
    color: var(--color-beige);
    margin-top: 60px;
    padding-bottom: 60px;

    h3 {
        font-weight: 900;
        margin-bottom: 3px
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    }


    img {
        width: 30px;
        transition: 225ms ease-in-out;

        &:hover {
            transform: translateY(-50%);
        }
    }

    p{
        font-size: 16px;
        margin-top: 20px;
    }
}

.underline-animation{
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        background: var(--color-orange);
        height: 3px;
        animation: lineBack 0.2s ease forwards;
    }
    
    &:hover:after {
        animation: lineForwards 0.2s ease forwards;
    }
    

    &:hover {
        font-weight: 600;
        cursor: pointer;
    }
}

@keyframes lineForwards {
    from {
        opacity: 0;
        right: 70%;
        width: 50%;
    }
    to {
        opacity: 1;
        right: 0%;
        width: 70%;
    }
}

@keyframes lineBack {
    from {
        opacity: 1;
        right: 0%;
        width: 70%;
    }
    to {
        opacity: 0;
        right: 70%;
        width: 50%;
    }
}