<div class="section about-me-wrapper overflow-hidden">
    <div data-aos="fade-right" data-aos-offset="100" class="only-desktop pos-rel">
        <div class="line"></div>
        <h2 appHighlightHeader class="line-header">About me</h2>
    </div>
    <div class="d-flex just-center only-mobile">
        <div data-aos="fade-right" data-aos-offset="100" class="shadow">
            <!-- only for mobile because hover doesn´t work -->
            <h2 appHighlightHeader>About</h2>
        </div>
    </div>
    <div class="d-flex just-between p-top-5 mobile-container">
        <div class="width-90 max-width-1000">
            <div data-aos="fade-right" data-aos-offset="100" class="width-90">
                <p>
                    I am a 27-year-old frontend developer with experience in developing 
                    web applications with JavaScript & Angular. So far I have worked as business intelligence consultant 
                    acquiring skills in SQL, MDX and database administration. However, i realized at a certain point, that my 
                    passion lies with in web development - here is my story:
                </p>
            </div>
            <div data-aos="fade-right" data-aos-offset="200" class="width-90 d-flex text-container">
                <img src="../../assets/icons/profile/idea.png" alt="Idea">
                <p>
                    During my side job in a soap manufacory I discovered my passion 
                    for web development and web design while working on the new webshop. I was supported by my family and friends to make my passion my profession.
                    Therefore I started working on private projects but I soon realized that I would not be able to do it without 
                    professional support besides my full time job as consultant.
                </p>
            </div>
            <div data-aos="fade-right" data-aos-offset="200" class="width-90 d-flex text-container">
                <img style="box-sizing: border-box; padding: 8px;" src="../../assets/icons/profile/puzzle.png" alt="Puzzle">
                <p>
                    So I decided to become a frontend developer and take professional training to reach my goal. 
                    Here I have worked both on my own and in a team on various projects. 
                    This intensive training allowed me to quickly gain experience and deepen my knowledge.
                </p>
            </div>        
            <div data-aos="fade-right" data-aos-offset="200" class="width-90 d-flex text-container">
                <img style="box-sizing: border-box; padding: 10px;" src="../../assets/icons/profile/card.png" alt="Card">
                <p>
                    Here I am and I am looking forward to continuing my developer career with a job in a junior web
                    developer position. If you think I&#8217;d be a good match for your projects, please do not hesitate to contact me!
                </p>
            </div>        
            <div data-aos="zoom-in" data-aos-offset="200" class="width-90 d-flex just-center m-top-50 only-desktop">
                <button>Let&#8217;s talk</button>
            </div>
        </div>
        <div data-aos="fade-left" class="pos-rel profile-image only-desktop width-fit height-fit">
            <img src="../../assets/images/profile.png" alt="Profile-picture">
        </div>
        <div data-aos="fade-left" class="pos-rel profile-image only-mobile width-fit height-fit">
            <img src="../../assets/images/profile.png" alt="Profile-picture">
        </div>
    </div>
    <div data-aos="fade-down-left" data-aos-offset="200" class="d-flex just-end p-right-180 p-bottom-110 arrow">
        <!-- <img src="../../assets/icons/arrow/arrow-start.svg" alt="Arrow"> -->
        <img src="../../assets/icons/arrow/arrow-middle.svg" alt="Arrow">
    </div>
</div>