<div class="section about-me-wrapper">
    <h2 class="only-desktop">About me</h2>
    <div class="d-flex about-me-only-mobile">
        <div class="shadow">
            <h2 (click)="this.toggleHeader = !this.toggleHeader" [ngClass]="{'mobile-color-hover' : toggleHeader, 'mobile-non-hover': !toggleHeader}">About</h2>
        </div>
    </div>
    <div class="d-flex just-between p-top-5 mobile-container">
        <div class="width-90 max-width-1000">
            <p class="width-90">
                I am a Front-end developer based in Munich, Germany.
                I enjoy helping designers and companies bring their ideas into real life.
                I am looking forward to continuing my developer career with a job in a junior web
                developer position. <br> <br> If you think I&#8217;d be a good match for your projects,
                contact me!
            </p>
            <div class="width-90 d-flex just-center m-top-50 only-desktop">
                <button>Let&#8217;s talk</button>
            </div>
        </div>
        <div class="pos-rel profile-image">
            <img src="../../assets/images/profile.png" alt="Profile-picture">
        </div>
    </div>
    <div class="d-flex just-end p-right-180 p-bottom-110 arrow">
        <!-- <img src="../../assets/icons/arrow/arrow-start.svg" alt="Arrow"> -->
        <img src="../../assets/icons/arrow/arrow-middle.svg" alt="Arrow">
    </div>
</div>