.about-me-wrapper {
    padding-top: 5%;

    @media (max-width: 1150px) {
        padding-top: 10%;
    }
}

.profile-image {
    position: relative;

    @media (max-width: 1150px) {
        margin: 55px auto 30px;
    }

    img {
        width: 500px;
        height: 500px;
        max-width: 100%;
        object-fit: cover;

        @media (max-width: 1150px) {
            width: 400px;
            height: 400px;
        }
    }
}

.profile-image.only-desktop {
    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        left: 10px;
        right: -10px;
        top: 10px;
        bottom: -10px;
        border: 4px solid #ceb0a8;
        transition: 0.2s ease-in-out;
    }

    &:hover::after {
        left: 15px;
        right: -15px;
        top: 15px;
        bottom: -10px;
        opacity: 1;
    }
}


.profile-image.only-mobile {
    &::after {
        content: '';
        position: absolute;
        left: 15px;
        right: -15px;
        top: 15px;
        bottom: -10px;
        opacity: 1;
        border: 4px solid #000000;
        transition: 0.2s ease-in-out;

        @media (max-width: 450px) {
            left: 10px;
            right: -10px;
            top: 10px;
            bottom: -5px;
            border: 2px solid #000000;
        }
    }

    img {
        @media (max-width: 550px) {
            width: 350px;
            height: 350px;

        }

        @media (max-width: 400px) {
            width: 300px;
            height: 300px;
        }

        @media (max-width: 300px) {
            width: 200px;
            height: 200px;
        }
    }

}

h2 {
    display: inline;
    transition: 0.25s;
}

button {
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    font-weight: 700;
    width: 244px;
}

.shadow {
    h2 {
        text-transform: capitalize;
        font-size: 37px !important;
        font-weight: 900;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 2rem;
        text-align: center;
        letter-spacing: 0.01em;
        display: block !important;

        @media (max-width: 400px) {
            font-size: 30px !important;
            bottom: 27px;
        }
    }
}

.shadow::before {
    content: "About Me";
    text-transform: lowercase;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    opacity: .1;
    font-weight: 900;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    margin-bottom: 30px;

    @media (max-width: 400px) {
        font-size: 3rem;
    }
}

.arrow {
    img {
        height: 210px;

        @media (max-width: 500px) {
            height: 115px;
        }
    }

}

.p-right-180 {
    @media (max-width: 600px) {
        padding-right: 100px;
    }

    @media (max-width: 400px) {
        padding-right: 40px;
    }
}

.p-bottom-110 {
    @media (max-width: 500px) {
        padding-bottom: 40px;
        ;
    }
}

.mobile-container {
    @media (max-width: 1150px) {
        flex-direction: column;

        .width-90 {
            width: 100%;
        }

        &.p-top-5 {
            padding-top: 0;
        }
    }
}