.about-me-wrapper {
    padding-top: 5%;

    @media (max-width: 1150px) {
        padding-top: 10%;
    }
}

.profile-image {
    position: relative;

    @media (max-width: 1150px) {
        margin: 55px auto 30px;
    }

    img {
        width: 500px;
        max-width: 100%;
        height: auto;
        object-fit: cover;

        @media (max-width: 1150px) {
            width: 400px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        left: 10px;
        right: -10px;
        top: 10px;
        bottom: -5px;
        border: 4px solid #ceb0a8;
        transition: 0.2s ease-in-out;
    }

    &:hover::after {
        left: 15px;
        right: -15px;
        top: 15px;
        bottom: -10px;
        opacity: 1;
    }
}

h2 {
    display: inline;
    transition: 0.25s;
}

.mobile-color-hover {
    color: #FF9900;
    cursor: context-menu;
}

.mobile-non-hover {
    color: black;
}

button {
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    font-weight: 700;
    width: 244px;
}


.shadow {
    h2 {
        text-transform: capitalize;
        font-size: 37px !important;
        font-weight: 900;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 2rem;
        text-align: center;
        letter-spacing: 0.01em;
        display: block !important;
    }
}

.shadow::before {
    content: "About Me";
    text-transform: lowercase;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    opacity: .1;
    font-weight: 900;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    margin-bottom: 30px;

    @media (max-width: 400px) {
        font-size: 3rem;
    }
}

.arrow {
    img {
        height: 210px;

        @media (max-width: 500px) {
            height: 115px;
        }
    }

}

.p-right-180 {
    @media (max-width: 600px) {
        padding-right: 100px;
    }

    @media (max-width: 400px) {
        padding-right: 40px;
    }
}

.p-bottom-110 {
    @media (max-width: 500px) {
        padding-bottom: 80px;
        ;
    }
}

.mobile-container {
    @media (max-width: 1150px) {
        flex-direction: column;

        .width-90 {
            width: 100%;
        }

        &.p-top-5 {
            padding-top: 0;
        }
    }
}

.only-desktop {
    @media (max-width: 1150px) {
        display: none;
    }
}

.only-desktop:hover {
    color: #FF9900;
    cursor: context-menu;

}

.about-me-only-mobile {
    @media (min-width: 1150px) {
        display: none;
    }
}