<div class="background">
    <div class="section wrapper-content">
        <!-- <div data-aos="fade-down-left" data-aos-offset="200" class="d-flex just-end p-right-180 arrow">
            <img src="../../assets/icons/arrow/arrow-middle.svg" alt="Arrow">
        </div> -->
        <h2 [ngClass]="{orange: timerColorOrange}">{{ 'contact.header' | translate }}</h2>
        <div class="wrapper-form">
            <h3>{{ 'contact.contactHeader' | translate }}</h3>
            <p>{{ 'contact.subheader' | translate }}</p>
            <form *ngIf="!formSubmitted && !errorMessage" (ngSubmit)="sendMail(myForm)" #myForm="ngForm">
                <div (click)="labelToTop(labelName)">
                    <label #labelName for="name">
                        {{ 'contact.name' | translate }}
                    </label>
                    <input #inputName="ngModel" (focus)="labelToTop(labelName)" required id="name" type="text"
                        name="textNme" [ngClass]="{'fix-border': inputName.touched}" ngModel>
                    <img src="../../assets/icons/contact_form/excalmationMark.svg" alt="excalmationMark"
                        *ngIf="!inputName.valid && inputName.touched">
                    <img src="../../assets/icons/contact_form/check.svg" alt="Check" *ngIf="inputName.valid">
                    <span class="warning-message" *ngIf="!inputName.valid && inputName.touched">
                        {{ 'contact.nameFailure' | translate }}
                    </span>
                </div>
                <div (click)="labelToTop(labelMail)">
                    <label #labelMail for="email">{{ 'contact.mail' | translate }}</label>
                    <input (focus)="labelToTop(labelMail)" #inputMail="ngModel" required id="email" type="email"
                        name="name" email [ngClass]="{'fix-border': inputMail.touched}" ngModel>
                    <img src="../../assets/icons/contact_form/excalmationMark.svg" alt="excalmationMark"
                        *ngIf="!inputMail.valid && inputMail.touched">
                    <img src="../../assets/icons/contact_form/check.svg" alt="Check" *ngIf="inputMail.valid">
                    <span class="warning-message" *ngIf="!inputMail.valid && inputMail.touched">
                        {{ 'contact.mailFailure' | translate }}
                    </span>
                </div>
                <div (click)="labelToTop(labelMessage)">
                    <label style="padding: 0 7px 0 3px !important" #labelMessage for="message">{{ 'contact.message' | translate }}</label>
                    <textarea required #textareaMessage="ngModel" (focus)="labelToTop(labelMessage)" name="message"
                        id="" cols="30" rows="10" [ngClass]="{'fix-border': textareaMessage.touched}"
                        ngModel></textarea>
                    <img src="../../assets/icons/contact_form/excalmationMark.svg" alt="excalmationMark"
                        *ngIf="!textareaMessage.valid && textareaMessage.touched">
                    <img src="../../assets/icons/contact_form/check.svg" alt="Check" *ngIf="textareaMessage.valid">
                    <span class="warning-message" *ngIf="!textareaMessage.valid && textareaMessage.touched">
                        {{ 'contact.messageFailure' | translate }}
                    </span>
                </div>
                <button [ngClass]="{disabled: !myForm.valid}" [disabled]="!myForm.valid" #sendButton>
                    {{ 'contact.sendMessage' | translate }}</button>
            </form>
            <div *ngIf="formSubmitted && !errorMessage" class="form-sended d-flex d-column just-center align-center">
                <p *ngIf="loadingIdicatior">{{ 'contact.sendedMessage' | translate }}</p>
                <br *ngIf="loadingIdicatior">
                <mat-spinner *ngIf="loadingIdicatior"></mat-spinner>
                <p *ngIf="!loadingIdicatior && formSended">
                    {{ 'contact.sendedText1' | translate }} 
                    <br>
                    <br>
                    {{ 'contact.sendedText2' | translate }} 
                </p>
            </div>
            <div *ngIf="!formSended && errorMessage" class="form-sended d-flex d-column just-center align-center">
                <p *ngIf="errorMessage">
                    {{ 'contact.sendedText3' | translate }} 
                    <br>
                    <br>
                    {{ 'contact.sendedText4' | translate }} 
                </p>
            </div>
        </div>
        <div class="arrow-up visible-only-desktop">
            <img (click)="scrollTo('home')" src="../../assets/icons/arrow/arrow-up.svg" alt="arrowHome">
            <img (click)="scrollTo('home')" src="../../assets/icons/arrow/arrow-wo-head.svg" alt="arrowHome">
        </div>
    </div>
</div>