<!-- <div class="background">
    <br>
    <br>
    <br>
</div> -->


<div class="section diagonal-div"></div>
<div style="background-color: black;">
    <div class="section wrapper-content">
        <h2>Say Hi!</h2>
        <div class="wrapper-form">
            <h3>Want to discuss a new project?</h3>
            <p>Say hello! Let's discuss your ideas and make it happen</p>
            <form (ngSubmit)="sendMail(myForm)" #myForm="ngForm">
                <input 
                    required 
                    type="text" 
                    name="textNme" 
                    placeholder="Your name" 
                    ngModel>
                <input 
                    required 
                    type="mail" 
                    name="name" 
                    placeholder="Your email" 
                    ngModel>
                <textarea 
                    name="message" 
                    id="" 
                    cols="30" 
                    rows="10" 
                    placeholder="Your message" 
                    ngModel
                ></textarea>
                <button #sendButton>Send message</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
<!-- <section id="contact">
    <div class="diagonal-div"></div>
    <div class="outer">
        <h2>Say Hi!</h2>
        <div class="inner">
            <h3>Want to discuss a new project?</h3>
            <p>Say hello! let's discuss your ideas and make it happen</p>
            <form>
                <input type="text" placeholder="Your name" required>
                <input type="email" placeholder="Your email" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
                <input type="submit" value="Send message">
            </form>
        </div>
        <div class="wrapper">
            <a href="#" class="arrow">
                <img src="../../../assets/images/arrows/arrow7.png" alt="arrow_up">
            </a>
        </div>
    </div>
</section> -->