.diagonal-div {

    border-style: solid;
    border-width: 200px 0 0 100vw;
    border-color: transparent transparent transparent black;
}

.wrapper-content {
    background-color: black;

    h2 {
        color: #FFFCF3;
        position: relative;
        bottom: 90px;

        // transition: all 225ms ease-in-out;
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: var(--color-green);
            margin-bottom: 16px;
        }
        p {
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            text-align: center;
            color: #FFFCF3;
            margin-bottom: 48px;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
            input,
            textarea {
                outline: none;
                border: none;
                width: 620px;
                font-family: 'Overpass';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #FFFCF3;
                transition: all 225ms ease-in-out;
            }
            input[type=text],
            input[type=email],
            textarea {
                color: #FFFCF3;
                background-color: var(--color-black);
                border-top: 3px solid var(--color-black);
                border-left: 3px solid var(--color-black);
                border-right: 3px solid var(--color-black);
                border-bottom: 3px solid var(--color-white);
                padding-inline: 24px;
                padding-block: 16px;
            }
            textarea {
                min-height: 200px;
                resize: vertical;
            }
            input[type=email]:focus-visible,
            input[type=text]:focus-visible,
            textarea:focus-visible {
                border: 3px solid var(--color-white);
            }
            input[type=submit] {
                cursor: pointer;
                width: fit-content;
                background-color: var(--color-black);
                color: var(--color-white);
                border: 2px var(--color-white) solid;
                padding: 20px 60px;
                margin-bottom: 32px;
            }
            input[type=submit]:hover {
                opacity: 0.8;
                transform: translateY(-2px);
            }
            input[type=submit]:active {
                background-color: var(--color-white);
                color: var(--color-black);
                border: 2px var(--color-black) solid;
            }
        }
    }
    .wrapper {
        position: absolute;
        bottom: 16px;
        right: 0px + 32px;
        height: 100px;
        width: 40px;
        overflow: hidden;
    }
    .arrow {
        position: absolute;
        bottom: 0px;
        width: 100%;
        animation: arrowUp 2.5s linear 0s infinite normal none;
    }
    .arrow:hover {
        animation-play-state: paused;
    }
}
