.background{
    background: url(../../assets/images/background/rectangle_footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

    @media (max-width: 500px) {
        height: 850px;
    }
}

h1{
    color:white
}

.diagonal-div {
    border-style: solid;
    border-width: 200px 0 0 100vw;
    border-color: transparent transparent transparent var(--color-black);
}

button {
    border-color: var(--color-beige);
    color: var(--color-beige);
    width: 255px;
    transition: 0.1s;

    &:hover {
        cursor: pointer;
        font-weight: 700;
        width: 295px;  
        color: var(--color-black);
        background-color: var(--color-beige);
    }

    @media (max-width: 400px) {
        width: 225px;
        font-size: 20px;

        &:hover {
            width: 265px;
        }
    }
}

.warning-message{
    position: relative;
    top: 10px;
    color: var(--color-warning);
    font-size: 16px;
    line-height: 19.2px;
}

.wrapper-content {
    background-color: transparent !important;
    position: relative;
    top: 220px;
    
    @media (max-width: 500px) {
        top: 140px;
    }

    h2 {
        color: var(--color-beige);
        position: relative;
        bottom: 90px;
        transition: 225ms ease-in-out;
        
        @media (max-width: 500px) {
            bottom: 60px;
        }

        &.orange {
            color: var(--color-orange);
            transition: 225ms ease-in-out;
        }
         
         &:hover {
             cursor: context-menu;
        }

    }
    .wrapper-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: 'Overpass';
            font-size: 32px;
            line-height: 120%;
            color: var(--color-orange);
            margin-bottom: 16px;
            text-align: center;
            
            @media (max-width: 500px) {
                font-size: 21px;
                margin-top: 0;
            }
        }

        p {
            color: var(--color-beige);
            margin-bottom: 48px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
            width: clamp(200px, 100%, 700px);

            div {
                position: relative;
                width: 100%;

                label {
                    color: #757575;
                    position: absolute;
                    transform: translate(26%, 80%);
                    font-size: 18px;
                    padding: 0 7px;
                    cursor: auto;
                    
                    &.to-top{
                        animation: labelToTop 225ms ease-in-out forwards;
                        background: black;
                        padding: 0 7px;
                    }
                }
            }

            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
                outline: none;
                border: none;
                font-family: 'Overpass';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: var(--color-beige);
                transition: all 225ms ease-in-out;
            }

            textarea {
                min-height: 200px;
                position: relative;
                z-index: 5;
                background-color: rgba(0, 0, 0, 0) !important;
            }

            input[type=text],
            input[type=email],
            textarea,
            select {
                padding: 24px;
                padding: 16px;
                color: var(--color-beige);
                background-color: var(--color-black);
                border-top: 3px solid var(--color-black);
                border-left: 3px solid var(--color-black);
                border-right: 3px solid var(--color-black);
                border-bottom: 3px solid var(--color-beige);
            }

            input[type=text]:hover,
            input[type=email]:hover,
            textarea:hover{
                border: 3px solid var(--color-beige);
            }

            input[type=text]:focus-visible,
            input[type=email]:focus-visible,
            textarea:focus-visible {
                border: 3px solid var(--color-beige);
            }

            .fix-border {
                border: 3px solid var(--color-beige) !important;
            }

            img {
                position: absolute;
                transform: translate(-150%, 50%);
            }
        }
    }
}


input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px black inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--color-beige);
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px black inset;/*your box-shadow*/
    -webkit-text-fill-color: var(--color-beige);
} 

.disabled {
    color: #757575 !important;
}

::ng-deep .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] circle {
    stroke: var(--color-beige);
}

.form-sended {
    border: 3px solid var(--color-beige);
    padding: 50px;

    @media (max-width: 500px) {
        margin-top: 80px;
    }

    p{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0 !important;
        
        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
}


.arrow {
    img {
        height: 210px;

        @media (max-width: 500px) {
            height: 115px;
        }
    }

}

.p-right-180 {
    @media (max-width: 600px) {
        padding-right: 100px;
    }

    @media (max-width: 400px) {
        padding-right: 40px;
    }
}

.arrow-up {
    right: 0;
    position: absolute;
    margin-right: 5%;
    right: -15px;
    bottom: 20px;
    cursor: pointer;
    
    @media (max-width: 1150px) {
        margin-right: 10%;
    }
    
    &:hover img:first-child {
        transform: translateY(-22px);
        transition: 0.255s ease-in-out;
    }
    
    img:first-child {
        transform: translateY(0);
        transition: 0.255s ease-in-out;
    }
    
    img:nth-child(2) {
        transform: translateX(-22px);
    }
}

.visible-only-desktop {
    @media (max-width: 700px) {
        display: none;
    }
}

@keyframes labelToTop {
    from {
        transform: translate(26%, 80%);
    }

    to {
        transform: translate(10%, -40%);
        font-size: 16px;
        color: var(--color-beige);
        z-index: 5;
    }
}

