<div class="section overflow-hidden">
    <div data-aos="fade-left" data-aos-offset="100" class="d-flex d-column align-center">
        <div class="line"></div>
        <div class="only-desktop">
            <h2 appHighlightHeader class="line-header">Portfolio</h2>
        </div>
        <p class="text-center">This page is samle of my work - please feel free to try them out.</p>
    </div>
    <!-- Ring Of Fire -->
    <div 
    class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #rof='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="rof._isIntersecting"
    >
        <span class="pos-right">01/06</span>
        <div class="project-image-right">
            <img style="object-position: right;" src="../../assets/images/projects/portfolio_ringOfFire.png" alt="Join">
        </div>
        <div class="project right">
            <h3>Ring of Fire</h3>
            <p class="skills">Angular | HTML | SCSS | Firebase</p>
            <p class="description">A small game-app inspired by the popular drinking card game. Share the game with your
                friends and have fun!</p>
            <div class="d-flex">
                <button><a href="https://ring-of-fire.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/ringoffire" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- My Portfolio -->
    <div 
    class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #portfolio='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="portfolio._isIntersecting"
    >
        <span class="pos-left">02/06</span>
        <div class="project left">
            <h3>My Portfolio</h3>
            <p class="skills">Angular | HTML | SCSS</p>
            <p class="description">My personal website to show project results from the last few months. Feel free to take a closer look at the code on Github.</p>
            <div class="d-flex">
                <button><a href="https://github.com/va104/portfolio" target="_blank">Github</a></button>
            </div>
        </div>
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio.png" alt="">
        </div>
    </div>
    <!-- Join -->
    <div 
    class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #join='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="join._isIntersecting"
    >
        <span class="pos-right">03/06</span>
        <div class="project-image-right">
            <img style="object-position: left;" src="../../assets/images/projects/portfolio_join.png" alt="Join">
        </div>
        <div class="project right">
            <h3>Join</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and
                drop functions, assign users and categories.</p>
            <div class="d-flex">
                <button><a href="https://join.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/join" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- Ell Pollo Loco -->
    <div class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #epl='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="epl._isIntersecting">
        <span class="pos-left">04/06</span>
        <div class="project left">
            <h3>El Pollo Loco</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description">A Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and
                tabasco salsa to fight against the crazy hen.</p>
            <div class="d-flex">
                <button><a href="https://el-pollo-loco.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/el-pollo-loco" target="_blank">Github</a></button>
            </div>
        </div>
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio_elPolloLoco_color.svg" alt="">
        </div>
    </div>
    <!-- Pokedex -->
    <div 
    class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #pokedex='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="pokedex._isIntersecting"
    >
        <span class="pos-right">05/06</span>
        <div class="project-image-right">
            <img src="../../assets/images/projects/portfolio_pokedex.png" alt="Join">
        </div>
        <div class="project right">
            <h3>Pokédex</h3>
            <p class="skills">JavaScript | HTML | CSS | API</p>
            <p class="description">Based on the PokéAPI library that provides and catalogues pokémon information</p>
            <div class="d-flex">
                <button><a href="https://pokedex.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/pokedex" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- Donut Hero -->
    <div 
    class="project-wrapper d-flex pos-rel"
    appObserveElement 
    #donuthero='intersectionExport' 
    [threshold]="0.5"
    [class.project-wrapper--is-intersecting]="donuthero._isIntersecting">
        <span class="pos-left">06/06</span>
        <div class="project left">
            <h3>Donut Hero</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description">This delivery service website was inspired by Lieferando. Main focus of this project is the simulation of a easy online shopping process. For this reason not all functionalities are implemented.</p>
            <div class="d-flex">
                <button><a href="https://donut-hero.vanessa-wuerdinger.de/" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/donutHero" target="_blank">Github</a></button>
            </div>
        </div>
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio_donutHero.png" alt="">
        </div>
    </div>
</div>