<div style="overflow: hidden;" class="section">
    <div data-aos="zoom-in" class="d-flex d-column align-center">
        <div class="d-flex only-mobile">
            <div class="shadow">
                <h2 appHighlightHeader>Portfolio</h2>
            </div>
        </div>
        <p class="text-center">This page is samle of my work - please feel free to try them out.</p>
    </div>
    <!-- Ring Of Fire -->
    <div class="count-projects right">01/05</div>
    <div 
        class="project-wrapper d-flex d-column pos-rel"
        appObserveElement 
        #rof='intersectionExport' 
        [threshold]="0.4"
        [class.project-wrapper--is-intersecting]="rof._isIntersecting">
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio_ringOfFire.png" alt="RingOfFire">
        </div>
        <div class="project">
            <h3>Ring of Fire</h3>
            <p class="skills">Angular | HTML | SCSS | Firebase</p>
            <p class="description">A small game-app inspired by the popular drinking card game. Share the game with your
                friends and have fun!</p>
            <div class="d-flex">
                <button><a href="https://ring-of-fire.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/ringoffire" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- Ell Pollo Loco -->
    <div class="count-projects">02/05</div>
    <div 
        class="project-wrapper d-flex d-column pos-rel align-end"
        appObserveElement 
        #epl='intersectionExport' 
        [threshold]="0.4"
        [class.project-wrapper--is-intersecting]="epl._isIntersecting">
        <div class="project-image-right">
            <img src="../../assets/images/projects/portfolio_elPolloLoco_color.svg" alt="ElPolloLoco">
        </div>
        <div class="project d-flex d-column align-end">
            <h3>El Pollo Loco</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description right">A Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and
                tabasco salsa to fight against the crazy hen.</p>
            <div class="d-flex">
                <button><a href="https://el-pollo-loco.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/el-pollo-loco" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- Join -->
    <div class="count-projects right">03/05</div>
    <div class="project-wrapper d-flex d-column pos-rel"
        appObserveElement 
        #join='intersectionExport' 
        [threshold]="0.4"
        [class.project-wrapper--is-intersecting]="join._isIntersecting">
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio_join.png" alt="Join">
        </div>
        <div class="project">
            <h3>Join</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and
                drop functions, assign users and categories.</p>
            <div class="d-flex">
                <button><a href="https://join.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/join" target="_blank">Github</a></button>
            </div>
        </div>
    </div> 
    <!-- Pokedex -->
    <div class="count-projects">04/05</div>
    <div class="project-wrapper d-flex d-column pos-rel align-end"
        appObserveElement 
        #pokedex='intersectionExport' 
        [threshold]="0.4"
        [class.project-wrapper--is-intersecting]="pokedex._isIntersecting">
        <div class="project-image-right">
            <img src="../../assets/images/projects/portfolio_pokedex.png" alt="Pokedex">
        </div>
        <div class="project d-flex d-column align-end">
            <h3>Pokédex</h3>
            <p class="skills">JavaScript | HTML | CSS | API</p>
            <p class="description right">Based on the PokéAPI library that provides and catalogues pokémon information.</p>
            <div class="d-flex">
                <button><a href="https://pokedex.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/pokedex" target="_blank">Github</a></button>
            </div>
        </div>
    </div>
    <!-- Donut Hero -->
    <div class="count-projects right">05/05</div>
    <div class="project-wrapper d-flex d-column pos-rel"
        appObserveElement 
        #donuthero='intersectionExport'
        [threshold]="0.4"
        [class.project-wrapper--is-intersecting]="donuthero._isIntersecting">
        <div class="project-image-left">
            <img src="../../assets/images/projects/portfolio_donutHero.png" alt="DonutHero">
        </div>
        <div class="project">
            <h3>Donut Hero</h3>
            <p class="skills">JavaScript | HTML | CSS</p>
            <p class="description">This delivery service website was inspired by Lieferando. Main focus of this project is the simulation of a easy online shopping process. 
                For this reason not all functionalities are implemented.</p>
            <div class="d-flex">
                <button><a href="https://donut-hero.vanessa-wuerdinger.de" target="_blank">Try out</a></button>
                <button><a href="https://github.com/va104/donutHero" target="_blank">Github</a></button>
            </div>
        </div>
    </div>     
</div>