<div class="menu-wrapper d-flex just-center opacity">
    <div class="section menu">
        <h3 routerLink="/" (click)="scrollTo('home')" class="logo">[V.W]</h3>
        <div [ngClass]="{'open': toggleMenu, 'closed': !toggleMenu}" (click)="openCloseMenu()" class="wrapper-menu">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
          </div>
    </div>
</div>
<div [ngClass]="{'open-menu': toggleMenu}" class="nav" style="height: 100vh">
    <div class="pos-rel">
        <nav class="d-flex d-column align-center just-evenly">
            <div class="nav-link"><a (click)="scrollTo('about'); closeMenu()">About me</a></div>
            <div class="nav-link"><a (click)="scrollTo('skills', 180); closeMenu()">My skills</a></div>
            <div class="nav-link"><a (click)="scrollTo('myWork'); closeMenu()">Portfolio</a></div>
            <div style="margin-bottom: 0;" class="nav-link"><a (click)="scrollTo('contact'); closeMenu()">Contact</a></div>
        </nav>
        <div [ngClass]="{'open-menu': toggleMenu}" class="background">
        </div>
        <div class="d-flex just-center">
            <div class="section greeting">
                <h2 [ngClass]="{orange: timerColorOrange, 'open-menu': toggleMenu}">Say Hi!</h2>
            </div>
        </div>
        <div class="d-flex just-center">
            <div class="footer section">
                <div class="d-flex align-center just-between">
                    <h3 [ngClass]="{'open-menu': toggleMenu}" class="mail">mail@vanessa-wuerdinger.de</h3>
                    <div [ngClass]="{'open-menu': toggleMenu}" class="d-flex gap-42 align-baseline desktop-icons">
                        <a href="https://github.com/va104" target="_blank"><img
                                src="../../assets/icons/footer/github.svg" alt="GitHub"></a>
                        <a href="mailto:mail@vanessa-wuerdinger.de" target="_blank"><img
                                src="../../assets/icons/footer/email.svg" alt="Email"></a>
                        <a href="https://www.linkedin.com/in/vanessa-wuerdinger" target="_blank"><img
                                src="../../assets/icons/footer/linkedin.svg" alt="Linkedin"></a>
                    </div>
                </div>
                <div [ngClass]="{'open-menu': toggleMenu}" class="d-flex gap-42 align-baseline just-end mobile-icons">
                    <a href="https://github.com/va104" target="_blank"><img
                            src="../../assets/icons/footer/github.svg" alt="GitHub"></a>
                    <a href="mailto:mail@vanessa-wuerdinger.de" target="_blank"><img
                            src="../../assets/icons/footer/email.svg" alt="Email"></a>
                    <a href="https://www.linkedin.com/in/vanessa-wuerdinger" target="_blank"><img
                            src="../../assets/icons/footer/linkedin.svg" alt="Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</div>