
h3 {
    font-weight: 900;
}

.logo {
    cursor: pointer;
}

.opacity {
    opacity: 0;
    transform: scale(0.8);
    animation: startOpacity 1s ease;
    animation-fill-mode: forwards;
}

@keyframes startOpacity {
    0% {
        opacity: 0;
    }
    
    70% {
        opacity: 0;
        transform: scale(0.8);
        
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.menu-wrapper {
    background-color: var(--color-beige);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: transform 225ms ease-in-out 300ms;
}

.mail {
    transform: translateY(300%);
    transition: transform 225ms ease-in-out 300ms;
    cursor: context-menu;
    
    &.open-menu{
        transform: none;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--color-beige);
    z-index: 10;
    top: 0;
    height: 100px;

    img {
        width: 35px;
        cursor: pointer;

        @media (max-width: 400px) {
            width: 30px;
        }
    }
}

.nav {
    position: fixed;
    z-index: 20;
    background-color: var(--color-beige);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0.4;
    transition: all 225ms ease-in-out;
    // for testing
    // transform: translateY(0%);
    // margin-top: 100px;
    
    &.open-menu {
        transform: translateY(0) !important;
        margin-top: 100px;
        opacity: 1;
    }
}

nav {
    height: 55vh;
}

.nav-link {
    position: relative;
    font-family: 'Syne', sans-serif;
    font-size: 81px;
    font-weight: 700;
    letter-spacing: -2.5%;
    text-align: center;
    cursor: pointer;

    a {
        color: var(--color-black);
        text-decoration: none;
        cursor: pointer;
    }
}

.nav-link::before {
    content: "";
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 0 4px 4px;
    display: block;
    cursor: pointer;
    height: 35px;
    left: -45px;
    position: absolute;
    width: 30px;
    top: 75%;   
}

.nav-link:hover::before {

    animation: lineToRight  0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes lineToRight {
    10% {
        border-left-color: transparent;
        
    }

    40% {
        width: calc(100% + 30px);
    }
    
    100% {
        border-left-color: transparent;
        width: calc(50% + 30px);
        left: unset;
        right: 0;
    }
}

.background{
    background: url(../../assets/images/background/rectangle_footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    transform: translateY(100%);
    transition: all 225ms ease-in-out 200ms;
    
    &.open-menu{
        transform: none;
    }
}

.greeting {
    background-color: transparent;
    position: absolute;
    bottom: 185px;

    h2 {
        @media (max-width: 500px) {
            font-size: 36px !important;
        }
    }
}

.footer {
    background-color: transparent;
    color: var(--color-beige);
    position: absolute;
    bottom: 120px;

    h3 {
        font-family: 'Overpass', sans-serif !important;
        font-size: 23px;
        font-weight: 300;
    }

    img {
        width: 30px;
        transition: 225ms ease-in-out;
    
        &:hover {
            transform: translateY(-50%);
        }
    }
    
    &.open-menu{
        transform: translateY(0);
    }
}

h2 {
    color: var(--color-beige);
    cursor: context-menu;
    transform: translateY(300%);
    transition: color 225ms ease-in-out, transform 225ms ease-in-out 200ms;
    
    &.open-menu{
        transform: none;
    }

    &.orange {
        color: var(--color-orange);
        transition: 225ms ease-in-out;
    }
}

.desktop-icons, .mobile-icons {
    transform: translateY(300%);
    margin-top: 10px;
    transition: transform 225ms ease-in-out 400ms;
    
    &.open-menu{
        transform: none;
    }
}

// Menu
.wrapper-menu {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 225ms ease-out;
}

  .wrapper-menu.open {
    transform: rotate(45deg);  
  }
  
  .wrapper-menu.closed {
    transition: transform 225ms ease-out 225ms;
    transform: rotate(0deg);  
  }
  
  .line-menu {
    background-color: var(--color-black);
    width: 100%;
    height: 4px;
  }
  
  .open .line-menu.half {
    width: 50%;
  }

  .closed .line-menu.half {
    transition: width 225ms ease-out 225ms;;
    width: 100%;
  }
  
  .line-menu.start {
    transition: transform 225ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    align-self: flex-end;
    transform-origin: left;
}

.open .line-menu.start {
      transition: transform 225ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform: rotate(-90deg) translateX(3px);
      animation: startLineForwards 225ms ease 225ms;
      animation-fill-mode: forwards;
    }
    
    @keyframes startLineForwards {
        from {
            transform: rotate(-90deg) translateX(3px);
            
        }
        to {
            transform: rotate(-90deg) translateX(-12px)
      }
  }

  
.closed .line-menu.start {
    animation: startLineBackwards 200ms ease, startRotateBack 225ms ease-in-out 100ms;
}

@keyframes startLineBackwards {
    from {
        transform: rotate(-90deg) translateX(-12px);
        
    }
    to {
        transform: rotate(-90deg) translateX(3px)
    }
}

@keyframes startRotateBack {
    from {
        transform: rotate(-90deg) translateX(3px)
    }
    to {
        transform: rotate(0deg) translateX(3px)
    }
}
  
.closed .line-menu.end {
    animation: endLineBackwards 200ms ease, endRotateBack 225ms ease-in-out 100ms;

  }

  @keyframes endLineBackwards {
    from {
        transform: rotate(-90deg) translateX(12px);
        
    }
    to {
        transform: rotate(-90deg) translateX(-3px)
    }
}

@keyframes endRotateBack {
    from {
        transform: rotate(-90deg) translateX(-3px)
    }
    to {
        transform: rotate(0deg) translateX(-3px)
    }
}

  .line-menu.end {
    transition: transform 225ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
    animation: endLineForwards 225ms ease 225ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes endLineForwards {
      from {
          transform: rotate(-90deg) translateX(-3px);
          
      }
      to {
          transform: rotate(-90deg) translateX(12px)
    }
}

@media (max-width: 1200px) {
    .nav-link {
        font-size: 60px;
    }
}

@media (max-width: 650px) {
    .desktop-icons {
        display: none;
    } 
}


@media (min-width: 650px) {
    .mobile-icons {
        display: none;
    } 
}

@media (max-width: 650px) {
    .footer h3 {
        font-size: 18px;
    }

    .greeting {
        bottom: 220px;
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 20px;
    }

    .nav-link {
        font-size: 40px;
    }

    .nav-link::before {
        top: 90%;
        left: -30px;
        height: 15px;
        width: 15px;
    }
}

