h2 {
    background-color: #FFFCF3;
    padding: 0 20px;
    top: -40px;
    position: absolute;
    transition: 0.25s;
    z-index: 2;

    &:hover {
        color: #FF9900;
        cursor: context-menu;
    }

    @media (max-width: 1200px) {
        top: -30px;
    }

    @media (max-width: 750px) {
        top: -23px;
    }

    @media (max-width: 400px) {
        top: -20px;
    }

    @media (max-width: 380px) {
        top: -13px;
    }
}

.background {
    background-color: var(--color-beige);
    overflow: hidden;

    img {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 70px;
    border: 4px solid black;
    padding: 10%;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "a a a "
            "a a a "
            "a a a "
            "d b c "
    }

    @media (max-width: 900px) {
        padding-top: 15%;
    }

    @media (max-width: 750px) {
        grid-gap: 50px;
    }

    @media (max-width: 500px) {
        grid-gap: 20px;
        padding: 15% 5% 5% 5%;
    }

    @media (max-width: 380px) {
        grid-gap: 5px;
        padding: 15% 2% 2% 2%;
    }
}

.arrow {
    img {
        height: 210px;

        @media (max-width: 500px) {
            height: 115px;
        }
    }
}

.grid-child {
    align-self: center;
    justify-self: center;
    cursor: context-menu;
        
    p {
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
        font-weight: 700;
        transition: all 100ms ease-in-out;
        
        @media (max-width: 380px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    &:hover p{
        transition: all 100ms ease-in-out;
        color: var(--color-orange);
    }

    &:hover img {
        animation: bounceIcon 400ms cubic-bezier(0, 0.82, 0.05, 0.08);
    }
    
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 50px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 380px) {
        img {
            height: 45px;
            margin-bottom: 8px;
        }
    }
}

@keyframes bounceIcon {
    0%   { transform: scale(0.9) translate(0, 0); }
    25%  { transform: scale(0.9) translate(70%, 0); }
    40%  { transform: scale(0.7) translate(70%, -5%); }
    50%  { transform: scale(0.7) translate(0, -5%); }
    75%  { transform: scale(0.7) translate(-70%, -5%); }
    90%  { transform: scale(0.9) translate(-70%, 0); }
    100% { transform: scale(1) translate(0, 0); }
}

@media (max-width: 1200px) {

    .item8 {
        grid-area: b;
        align-self: center;
    }
}

.p-left-180 {
    @media (max-width: 600px) {
        padding-left: 100px;
    }

    @media (max-width: 400px) {
        padding-left: 40px;
    }
}

.p-bottom-60 {
    @media (max-width: 500px) {
        padding-bottom: 20px;
        ;
    }
}

.p-top-100 {
    @media (max-width: 500px) {
        padding-top: 40px;
        ;
    }
}
