<div class=" section pos-rel d-flex d-column align-center">
    <h2 appHighlightHeader>My skills</h2>
</div>
<div class="section">
    <div class="wrapper">
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/angular.svg" alt="Angular">
            <p>Angular</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/typescript.svg" alt="Typescript">
            <p>Typescript</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/java_script.svg" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/html.svg" alt="Html">
            <p>HTML</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/css.svg" alt="CSS">
            <p>CSS</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/firebase.svg" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/git.svg" alt="Git">
            <p>Git</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/scrum.svg" alt="Scrum">
            <p>Scrum</p>
        </div>
        <div data-aos="flip-left" class="grid-child">
            <img src="../../assets/icons/skills/api.svg" alt="api">
            <p>Rest-Api</p>
        </div>
        <div data-aos="flip-left" class="grid-child item8">
            <img src="../../assets/icons/skills/wordpress.svg" alt="Wordpress">
            <p>Wordpress</p>
        </div>
    </div>
    <div data-aos="fade-down-right" data-aos-offset="400" class="d-flex p-left-180 p-bottom-60 p-top-100 arrow">
        <img src="../../assets/icons/arrow/arrow-left-middle.svg" alt="Arrow">
    </div>
</div>