<div class=" section pos-rel d-flex d-column align-center">
    <h2 appHighlightHeader>{{ 'skills' | translate }}</h2>
</div>
<div class="section">
    <div class="wrapper">
        <div *ngFor="let skill of allSkills" data-aos="flip-left" class="grid-child">
            <div class="background">
                <img src={{skill.imgPath}} alt="{{ skill.name }}">
            </div>
            <p class="{{ skill.classes }}">{{ skill.name }}</p>
        </div>
    </div>
    <div data-aos="fade-down-right" data-aos-offset="400" class="d-flex p-left-180 p-bottom-60 p-top-100 arrow">
        <img src="../../assets/icons/arrow/arrow-left-middle.svg" alt="Arrow">
    </div>
</div>