body {
    box-sizing: border-box;
    background-color: #FFFCF3;
    font-family: 'Overpass', sans-serif;
    position: relative;
    margin: 0;
    //font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Syne', sans-serif;
}

.section {
    width: clamp(200px, 100%, 1920px);
    padding: 0 80px;
    margin: auto;
    box-sizing: border-box;
}